*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    margin: 0;
}

#telaInicial
{
    width: 300px;
    height: 300px;

    margin-top: -150px;
    margin-left: -150px;
    
    top: 50%;
    left: 50%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo
{
    text-align: center;
   
    font-size: 3vw;
    
}

#jogar
{
    border: 1px solid black;
    text-align: center;
    padding: 1%;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    
}

#jogar:hover
{
    
   font-size: 2vw;
}

.numeroQuestao
{   
    margin: 3%;
    border: 1px solid black;
    height: 20%;
    width: 9%;
    border-radius: 50%;
    text-align: center;
    line-height: 120%;
    font-size: 7vw;
    text-decoration: none;
}
 
.numeroQuestao:hover
{
    cursor: pointer;
}


.top
{
    display: flex;
}

.titulo
{
    text-decoration: none;
    width:80% ;
    position: relative;
    text-align: center;
    line-height: 200%;
    margin-top: 2%;
    font-size: 5vw;
    
}

#quadradoDeAlternativas
{
    display: flex;
    width: 60%;
    height: fit-content;
    margin-top: 1% ;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 31.8%; 
    font-size: 3vw;
}

.alternativa
{
    
    width: 35%;
    height: 0;
    padding-bottom: 10%;
    border: 4px solid black;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    line-height: 200%;  
    cursor: pointer;
     
}

#palito
{
    background-color: black;
    border-radius:20px ;
    height: 0;
    padding-bottom: 6%;
    width: 0.5%;
    position: relative;
    left: 52.7%;
    
}

#questaoLayoutUm
{
    display: none;
}

#questaoLayoutDois
{
    display: none;
}

#questaoLayoutTres
{
    display: none;
}

#perdeu
{
    display: none;
}



