*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    margin: 0;
}

#telaInicial
{
    width: 300px;
    height: 300px;

    margin-top: -150px;
    margin-left: -150px;
    
    top: 50%;
    left: 50%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo
{
    text-align: center;
   
    font-size: 3vw;
    
}

#jogar
{
    border: 1px solid black;
    text-align: center;
    padding: 1%;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    
}

#jogar:hover
{
    
   font-size: 2vw;
}
