@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
    
}

body
{
    margin: 0;
    background-image:url("imagens/IMG-20220602-WA0010.jpg");
    
    background-size: 100%;
}

#telaInicial
{
    
    width: 300px;
    height: 300px;

    margin-top: -150px;
    margin-left: -150px;
    
    top: 30%;
    left: 50%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo
{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 3vw;
    
}

#jogar
{
    border: 6px solid rgba(0, 255, 221, 0.493);
    text-align: center;
    padding: 1%;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    font-family: sans-serif;
}

.jogarAnimacao
{
    font-size: 2vw;
    margin-top: 100px;
    transform: rotate(360deg);
    transition:all 1s;
    transition-delay: 0.2s;
    background-color: rgba(0, 255, 213, 0.493);
    
}
#segredo{
    margin-top: 50px;
    border: 6px solid rgba(0, 255, 221, 0.493);
    text-align: center;
    padding: 1%;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    font-family: sans-serif;
    
}

.segredoAnimação
{
    font-size: 2vw;
    margin-top: 100px;
    transform: rotate(360deg);
    transition: all 1.1s;
    transition-delay: 0.2s;
    background-color: rgba(0, 255, 213, 0.493);
}

.numeroQuestao
{   
    margin: 3%;
    border: 6px solid rgba(0, 255, 221, 0.493);
    height: 20%;
    width: 9%;
    border-radius: 50%;
    text-align: center;
    line-height: 120%;
    font-size: 7vw;
    text-decoration: none;
    font-family: sans-serif;
}
 
.numeroQuestao:hover
{   transition: 1s;
    background-color: rgba(0, 255, 221, 0.493);
}


.top
{
    display: flex;
}

.titulo
{
    text-decoration: none;
    width:80% ;
    position: relative;
    text-align: center;
    line-height: 200%;
    margin-top: 2%;
    font-size: 5vw;
    font-family: 'Indie Flower', cursive;
    
}

#quadradoDeAlternativas
{
    display: flex;
    width: 60%;
    height: fit-content;
    margin-top: 1% ;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 31.8%; 
    font-size: 3vw;
}

.alternativa
{
    
    width: 35%;
    height: 0;
    padding-bottom: 10%;
    border: 4px solid black;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    line-height: 200%;  
    cursor: pointer;
    font-family: sans-serif;
     
}

#palito
{
    background-color: black;
    border-radius:20px ;
    height: 0;
    padding-bottom: 6%;
    width: 0.5%;
    position: relative;
    left: 52.7%;
    
}

#quadrado9
{
    position: relative;
    left: 18%;
}

#questaoLayout1
{
    display: none;
}

#questaoLayout2
{
    display: none;
}

#questaoLayout3
{
    display: none;
}

#perdeu
{
    display: none;
}
.recomeçar{
    font-size: medium;
}
.tituloPerdeu{
   font-size: 8vw;
   font-family: 'Indie Flower', cursive;
   position: relative;
    top: 10%;
    

}

#perdeu
{
    height: 0;
    padding-bottom: 10%;
    text-align: center;
    position: relative;
    top: 100px;

}

.recomeçar
{
    border: 6px solid rgba(0, 255, 221, 0.493);
    width: 15%;
    position: relative;
    left: 42.5%;
    font-size: 2vw;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    border-radius: 10px;

}

